body,html{
    font-family: 'Poppins', sans-serif;
}
.navbar-brand img {
    width: 110px;
}
.container{
    min-width: 80%;
}
.navbar-toggler:focus {
    box-shadow: none;
}
.menu_bar{
    min-width: 90%;
}
.navbar-toggler-icon {
    display: inline-block;
    width: 25px;
    height: 20px;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center center;
    background: url(../images/nav_icon.png)no-repeat;
    background-size: contain;
}
.dropdown{
    top: -6px;
}
ul.dropdown-menu {
    margin-left: -30px;
}
button.navbar-toggler.collapsed {
    outline: none;
}
ul#menu li a {
    color: #000;
    font-size: 16px;
    margin-right: 2px;
    padding: 10px 32px;
    border-radius: 18px;
}
ul#menu li a img {
    width: 15px;
    margin-right: 5px;
}
a.nav-link.active {
    background: #F7006A;
    color: #fff!important;
}
a#navbarDropdown img {
    width: 35px!important;
}
.story_area {
    text-align: center;
    display: flex;
}
.story_area li {
    list-style: none;
    float: left;
}
a.own {
    margin: 9px;
    display: block;
    text-decoration: none;
    color: #000;
    font-size: 18px;
}
a.own img {
    width: 115px;
}
a.story {
    background: #F7006A;
    margin: 10px;
    display: block;
}
.story_texts p {
    font-size: 15px;
    font-weight: 500;
}
.story_texts img {
    width: 50px!important;
    margin-top: -28px;
}
.home_posts {
    display: block;
    overflow: hidden;
}

.search input {
    background: #FFF6FA;
    border: none;
    padding: 12px 12px 12px 50px;
    position: relative;
    font-size: 15px;
    background-image: url(../images/search.png);
    background-repeat: no-repeat;
    background-size: 19px;
    background-position: 18px 12px;
    outline: none!important;
    border: none!important;
}

.search input:focus{    
    outline: none!important;
    border: none!important;
}


ul.side_links.sidebar_top {
    list-style: none;
    margin: 0;
    padding: 0;
}
.home_sidebar {
}

ul.side_links.sidebar_top, .side_links{
    list-style: none;
    margin: 0;
    padding: 0;
}
.side_links p {
    font-weight: 500;
    font-size: 16px;
}
ul.side_links.sidebar_top li{
    line-height: 40px;
    background: #FFF6FA;
    margin: 15px 0
}

ul.side_links.sidebar_top li a {
    text-decoration: none;
    color: #000000;
    padding: 10px;
    font-size: 15px;
}
ul.side_links.sidebar_top li a img{
    margin-right: 10px;
}
ul.side_links.sidebar_top li a span{
    float: right;
    background: #FFE5F0;
    padding: 5px 15px ;
    display: inline-block;
    font-size: 12px;
    overflow: hidden;
    color: #F7006A;
    line-height: 15px;
    border-radius: 10px;
    font-weight: 500;
    margin: 7px 10px;
}


ul.side_links {
    background: #FFF6FA;
    padding: 10px;
    margin-top: 20px;
}
.side_links li{

}
ul.side_links.sidebar_top {
    background: #fff;
}
.side_links li a {
    text-decoration: none;
    color: #000;
    display: block;
    margin: 10px 0;
    font-size: 15px;
    font-weight: 500;
}
.side_links li a img{
    margin-right: 10px;
}

.side_links li a span {
    float: right;
    background: #FFE5F0;
    padding: 5px 15px;
    display: inline-block;
    font-size: 12px;
    overflow: hidden;
    color: #F7006A;
    line-height: 15px;
    border-radius: 10px;
    font-weight: 500;
    margin-right: 10px;
}

/* Right Side Area */
.posting {
    margin-bottom: 40px;
}

.post_box {
    background: #fff;
    box-shadow: 0px 6px 9px 2px #f1f1f1;
    padding: 20px;
    margin: 15px 0;
    position: relative;
}

.post_box textarea {
    width: auto;
    max-height: 50px;
    font-size: 18px;
    padding: 10px;
    border: none;
    resize: none;
}
.post_box textarea:focus{
    border: none;
    outline: none;
}

ul.post_options {
    float: right;
    margin-top: -10px;
}
ul.post_options li{
    display: inline-block;
    margin: 5px;
    padding: 5px 10px;
}
a.post_btn {
    display: inline-block;
    background: #F7006A;
    color: #fff;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 33px;
    font-size: 18px;
    text-transform: uppercase;
    box-shadow: 0px 2px 8px 2px #c7c7c7;
}


.name a img {
    width: 40px;
    float: left;
}

.name p {
    color: #000;
    margin-left: 19px;
    display: inline-block;
    font-weight: 500;
    font-size: 18px;
}

.name p span {
    display: block;
    font-size: 13px;
    font-weight: 400;
}
.all_posts {
    margin-top: -150px;
    position: relative;
    z-index: 5;
}
.post_details {
    float: right;
}
a.post_setting img {
    width: 6px;
}

a.post_setting {
    float: right;
    display: inline-block;
    padding: 0px 10px;
}
p.post_live {
    background: #E34747;
    color: #fff;
    padding: 6px 25px;
    border-radius: 10px;
    font-weight: 400;
    margin: -5px 29px 0 0;
}

.post_images_options img {
    max-width: 100%;
    width: 100%;
}
.post_images_options {
    position: relative;
}
.post_materials p {
    font-size: 18px;
    font-weight: 500;
    padding: 0 15px;
}
.name {
    padding: 30px 15px 15px 15px;
}
.photo_react {
    position: absolute;
    top: 50px;
    right: 50px;
    z-index: 13;
}
.photo_react ul li {
    list-style: none;
}
.photo_react ul li a {
    background: #fff;
    padding: 2px 6px;
    margin: 18px 0;
    display: block;
    border-radius: 10px;
}
.photo_react ul li a img {
    width: 30px;
    height: 30px;
    margin: 9px;
}

.post_footer ul li {
    list-style: none;
    display: inline-block;
    border-right: 3px solid #ddd;
    margin: 0 30px 0 0;
}

.post_footer ul li:last-child {
    border: none;
    float: right;
}
.post_footer ul li:first-child a {
    color: #3BACEC;
}
.post_footer ul li:nth-child(3) {
    border: none;
}
.post_footer ul li a {
    text-decoration: none;
    font-size: 17px;
    margin-right: 33px;
    color: #000;
}
.post_footer ul li a img {
    margin-right: 10px;
    width: 26px;
}
.post_footer {
    padding: 30px 0px 15px 0;
}
.posts {
    margin-bottom: 52px;
    box-shadow: 0 3px 12px 0px #ccc;
}
.sensitive_notice {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #9b9b9bf5;
    bottom: 0;
    z-index: 12;
    transition: 1000ms;
}
.sensitive_notice img {
    max-width: 100%;
    width: 100px;
}
.sensitive_content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.sensitive_content p {
    color: #fff;
    padding: 25px;
    font-weight: 400;
    font-size: 20px;
}
.view_content {
    color: #fff;
    text-decoration: none;
    background: #F7006A;
    padding: 15px 50px;
    font-size: 20px;
    border-radius: 15px;
    box-shadow: 0px 3px 8px 0px #6a6a6a;
}

.recommended {
    padding: 30px 0;
}

.recommended h2 {
    font-size: 24px;
}
.matched_lists ul {
    padding: 0;
}


.matched_lists ul li {
    list-style: none;
    display: inline-block;
    margin-right: 10px;
    text-align: center;
}

.matched_lists ul li a {
    color: #000;
    text-decoration: none;
    padding: 15px 0;
    display: inline-block;
    font-size: 16px;
    margin-top: 15px;
}
.matched_lists ul li a img {
    display: block;
    width: 140px;
    margin-bottom: 15px;
}
.sponsored {
    color: #FF7575;
}

/* User Profile Page */

.user_banner img {
    max-width: 100%;
    width: inherit;
    height: 80%;
    padding: 30px 0 0 0;
}

.profile_update {
    padding-bottom: 50px;
}
.profile_texts {
    float: left;
}
.profile_texts img {
    float: left;
}
.profile_texts h3 {
    float: left;
    margin: 0;
    margin-top: 24px;
    font-size: 25px;
    padding-left: 30px;
}

.profile_texts h3 a {
    font-size: 16px;
    text-decoration: none;
    font-weight: 400;
    color: #F7006A;
    border: 1px solid #F7006A;
    padding: 10px 20px;
    border-radius: 15px;
}
.profile_texts h3 span {
    margin: 0;
    font-size: 15px;
    display: block;
    color: #a79c9c;
    font-weight: 400;
    padding: 5px 0;
}


.profile_title {
    display: block;
    overflow: hidden;
    padding-bottom: 30px;
    position: relative;
}
.profile_button {
    float: right;
    position: absolute;
    right: 0;
    z-index: 5;
    width: 200px;
    display: block;
    bottom: 0;
    top: 52px;
}
.profile_button a {
    text-decoration: none;
    color: #fff;
    background: #E34747;
    font-size: 18px;
    text-transform: capitalize;
    padding: 13px 40px;
    display: inline-block;
    border-radius: 13px;
}
.profile_subscriber ul li {
    list-style: none;
    margin: 0;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    border-right: 2px solid #edebeb;
    padding: 5px 16px;
}
.profile_subscriber ul li:last-child{
    border: none;
}
.profile_subscriber ul li p {
    padding: 0;
    margin: 0;
    font-size: 16px;
    color: #F7006A;
    font-weight: 600;
}
.profile_subscriber ul li p span{
    display: block;    
    font-weight: 400;
}

.profile_subscriber {
    border: 3px solid #F7006A;
    border-radius: 20px;
    padding: 10px;
    margin: 30px 0;
    overflow: hidden;
    display: inline-block;
}
.profile_subscriber ul {
    margin: 0;
}

.about {
    padding-bottom: 30px;
}
.about h4, .interest h4 {
    color: #F7006A;
    font-size: 19px;
}
.interest {
    padding-bottom: 30px;
}
.interest ul li {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.interest ul li a {
    text-decoration: none;
    padding: 10px 12px;
    display: block;
    margin: 5px 2px;
    font-size: 14px;
    color: #F7006A;
    border-radius: 7px;
}
.interest ul li:nth-child(1) a{
    background: #F7006A;
    color: #fff;
}
.interest ul li:nth-child(2) a{
    background: #F8C8DD;
}
.interest ul li:nth-child(3) a{
    background: #FADBE8;
}
.interest ul li:nth-child(4) a{
    background: #FBE3ED;
}
.interest ul li:nth-child(5) a{
    background: #FDEDF3;
}
.interest ul li:nth-child(6) a{
    background: #FEF6F9;
}


.interest ul {
    margin: 0;
    padding: 0;
}





/****** Edit profile****/
.profile_form {
    padding-bottom: 60px;
}

.profile_form .form-control {
    border: 1px solid #F7006A;
    font-weight: 400;
    font-size: 15px;
}

.profile_form .form-control:focus {
   box-shadow: 0 0 0 0.25rem rgb(247 0 106 / 25%);
   border: 1px solid #FDBFDA;
}
.profile_form .col-12 {
    padding-top: 15px;
}
.pro_works {
    border: 1px solid #F7006A;
    border-radius: 5px;
}
.pro_works ul {
    padding: 20px 20px 0 20px;
}

#about {
    min-height: 100px;
    resize: none;
}





/*************  Chat *************/

.chat_list ul li a {
    background: #FEEDF5;
    display: block;
    text-decoration: none;
    padding: 11px 16px;
    color: #000;
    position: relative;
    border-radius: 10px;
}
.chat_list ul li:first-child a {
    background: #F7006A;
    color: #fff;
}

.chat_list ul li a span.chat_time{
    color: #F7006A;
}
.chat_list ul li:first-child a span.chat_time{
    color: #fff;
} 
.chat_list ul li {
    list-style: none;
    margin-bottom: 10px;
}
.chat_list ul li a img {
    width: 44px;
}
.chat_list ul {
    padding: 0;
}

.chat_title {
    padding: 30px 0;
}

.chat_title h3 {
    padding-bottom: 20px;
}

span.chat_name {
    padding-left: 10px;
}

span.chat_text {
    display: inline-block;
    margin-left: 70px;
    color: #00000080;
}
.chat_list ul li:first-child a span.chat_text{
    color: #fff;
} 
span.chat_time {
    display: inline-block;
    position: absolute;
    right: 40px;
    top: 20px;
}


/****************** Live Chat *******************/
.live_chat_header {
    border-top: 2px solid #E4E4E4;
    padding-top: 25px;
}
.live_chat{
    padding-top: 30px;;
}

.live_chat_link {
    display: block;
    text-decoration: none;
}
.live_chat_link img {
    float: left;
    width: 75px;
}

.live_chat_link h4 {
    color: #000;
    font-size: 24px;
    display: inline-block;
    padding: 22px 0 0 17px;
}
.video_call_area ul {
    margin: 0;
    padding: 0;
    floar: right;
}

.profile_options {
    display: block;
    overflow: hidden;
}
.profile_detail {
    display: inline-block;
    float: left;
}
.video_call_area {
    display: inline-block;
    float: right;
}
.video_call_area ul li {
    list-style: none;
    display: inline-block;
    margin: 1px;
    padding: 0 15px;
    position: relative;
}
.video_call_area ul li:last-child::before {
    content: '';
    width: 2px;
    height: 40px;
    position: absolute;
    background: #E4E4E4;
    top: 4px;
    left: 0;
}
.video_call_area ul li:last-child {
    border-right: none;
}

.video_call_area ul li a {
    text-decoration: none;
    padding: 10px;
    text-align: center;
    color: #000;
}
.video_call_area ul li a span {
    display: block;
}

.video_call_area ul li a img {
    width: 21px;
    margin: 0 15px;
}
ul.others_chat {
    margin: 0;
    padding: 0;
}

ul.others_chat li {
    list-style: none;
    margin: 10px 0;
}

ul.own_chat {
    margin: 0;
    padding: 0;
    float: right;
}

.chat_content {
    display: block;
    overflow: hidden;
    padding: 20px 0;
}
ul.own_chat li {
    list-style: none;
}
ul.others_chat li p {
    background: #FFF6FA;
    display: inline-block;
    padding: 12px 30px;
    border-radius: 12px;
}
ul.others_chat li span {
    font-size: 14px;
    display: inline-block;
    padding-left: 14px;
    color: #9b9b9b;
}

ul.own_chat li p {
    background: #F7006A;
    display: inline-block;
    color: #fff;
    padding: 12px 30px;
    border-radius: 12px;
}
ul.own_chat li span {
    font-size: 14px;
    display: inline-block;
    padding-right: 14px;
    color: #9b9b9b;
}

.chat_footer .post_box {
    background: #fff;
    box-shadow: 0px 6px 50px 2px #f1f1f1;
    padding: 20px;
    margin: 15px 0;
    position: relative;
    border-radius: 20px;
}


/* Notification */
.notification_list ul li a {
    background: #fff;
}

.notification_list ul li:first-child a{
    background: #fff!important;
}

.notification_list ul li {
    border-bottom: 1px solid #dfdfdf;
}

.chat_list.notification_list span.chat_time, .chat_list.notification_list span.chat_text{
    color: #a5a5a5!important;
    margin-left: 5px!important;
}
.chat_list.notification_list span.chat_name{
    color: #000!important;
}
/* Modal */

.modal_head img {
    display: inline-block;
    float: left;
    width: 100px;
}
.modal_head {
    text-align: center;
    overflow: hidden;
    display: block;
    padding-bottom: 50px;
}
span.inf_icon {
    display: inline-block;
    float: right;
}
.post_types h3 {
    font-size: 21px;
    padding: 5px 0;
}

.post_types p {
    padding-top: 30px;
}
.modal_head h4 {
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
    padding-top: 25px;
}
.modal-dialog {
    max-width: 50%;
}
.modal-body {
    padding: 25px;
}
textarea#post_texts {
    resize: none;
    background: #F2F4F5;
    border: none;
    box-shadow: none;
    width: 100%;
    padding: 10px;
    border-radius: 15px;
    min-height: 300px;
}

textarea#post_texts:focus{
    box-shadow: none;
}

.drag_drop {
    min-height: 300px;
    background: #F2F4F5;
    text-align: center;
    border-radius: 15px;
}
.drag_drop img {
    width: 35%;
    padding-top: 40px;
    display: block;
    margin: 0 auto;
}

.drag_drop label {
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid;
    cursor: pointer;
    margin-top: 17px;
}
.modal-footer {
    border: none;
}
.post_types select {
    width: 50%;
}

.post_types h3 {
    font-size: 18px;
    padding: 5px 0;
}
.modal-footer {
    padding-top: 80px;
}
.btn-secondary {
    color: #000;
    background-color: #F2F4F5;
    border: none;
    padding: 7px 20px;
}
.post_now, .post_now:hover, .post_now:focus {
    background: #F7006A;
    border: none;
    padding: 7px 30px;
    margin-left: 25px;
}

.modal_box {
    margin-bottom: -20px;
}
.modal-backdrop.show {
    opacity: 0.90;
}

.modal-backdrop {
    background-color: #a9a9a9;
    filter: brightness(0.6);
}
.link_pop {
    display: block;
    text-align: center;
}

.mobile_only{
    display: none;
}

#menu li:nth-child(7) {
    display: none;
}


/* Coin */
.coin_heading p {
    color: #F7006A;
    font-weight: 500;
    font-size: 18px;
    padding-top: 20px;
}

.coin_balance {
    display: inline-block;
    padding: 5px 9px 5px 30px;
    text-align: left;
    background: #FEE5F0;
    border-radius: 7px;
}


.coin_balance h4 {
    float: left;
    margin-top: 9px;
}

a.cash_out {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background: #F7006A;
    margin: 3px -1px 3px 30px;
    padding: 8px 21px;
    border-radius: 4px;
}

.coin_heading {
    padding-top: 30px;
}
.row.coin_pac_list {
    padding-top: 35px;
}
.package_texts {
    color: #F7006A;
    font-weight: 500;
    font-size: 18px;
}
.coin_package h3 {
    background: #FEE5F0;
    color: #F7006A;
    padding: 4em 0;
    font-weight: 600;
    border-radius: 5px;
    font-size: 35px;
}
.coin_package h3 span {
    display: block;
    font-size: 16px;
}

.buy_coins {
    text-align: center;
}
a.buy {
    background: #F7006A;
    display: inherit;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 0;
    border-radius: 5px;
}
.coin_package {
    padding-bottom: 3em;
}



span.inf_icon img {
    width: 36px;
}








/****************************** Responsive CSS  ***********************************/


@media(max-width: 1680px){
    .search {
        width: 18%;
    }

    ul#menu li a {
        padding: 10px 20px;
    }
}


@media (max-width: 1600px){

    .matched_lists ul li a img {
        width: 120px;
    }
    .story_area {
        display: flex;
        overflow-x: scroll;
    }

}

@media (max-width: 1440px){

    ul#menu li a {
        font-size: 14px;
        padding: 10px 18px;
    }

}





@media (max-width: 1400px) {
    
    .profile_subscriber ul li p {
        font-size: 15px;
    }
    .profile_subscriber ul li {
        padding: 1px 6px;
    }
    ul#menu li a {
        color: #000;
        font-size: 14px;
        margin-right: 2px;
        padding: 10px 12px;
        border-radius: 18px;
    }
    ul#menu li a img {
        width: 12px;
        margin-right: 2px;
    }
}

@media(max-width: 1200px){

    .story_area {
        text-align: center;
        overflow: scroll;
        display: flex;
        overflow-y: hidden;
    }
    .matched_lists ul {
        display: flex;
        overflow-x: scroll;
    }
    .post_box textarea {
        width: 47%;
    }
    .side_links li a {
        font-size: 13px;
    }
    ul.side_links.sidebar_top li a {
        font-size: 13px;
    }
    .navbar-brand img {
        width: 90px;        
    }
    ul#menu li a {
        font-size: 12px;
    }
    .search input {
        font-size: 13px;
        background-size: 20px;
    }

    .search {
        width: 16%;
    }
    
    .navbar-expand-lg .navbar-nav .dropdown-menu {
        left: -68px;
    }
    .post_footer ul li a {
        font-size: 14px;
    }

}


@media (max-width: 1024px){
    .navbar-brand img {
        width: 80px;
    }

    .search {
        width: 16%;
    }
    ul#menu li a {
        font-size: 12px;
        padding: 10px 8px;
        margin-top: 10px;
    }

}
@media (min-width: 991px) and (max-width: 1023px){

    a.own img {
        width: 100px;
    }
    .profile_subscriber ul li p {
        font-size: 11px;
    }

    ul.post_options li {
        margin: 0;
        padding: 7px;
    }
    
    ul.post_options li a img {
        width: 20px;
    }
    ul#menu li a {
        color: #000;
        font-size: 13px;
        margin-right: 2px;
        padding: 10px 20px;
        border-radius: 18px;
    }

    .matched_lists ul {
        display: flex;
        overflow-x: scroll;
    }
}

@media (max-width: 991px){

    .container {
        width: 100%!important;
        min-width: 100%;
    }
    .search {
        display: block;
        width: 25%;
        margin: 0 auto!important;
    }
    .home_sidebar {
        display: none;
    }

    .story_area {
        text-align: center;
        overflow-x: scroll;
    }
    .story_area li {
        list-style: none;
        display: table-cell!important;
        float: none;
    }
    .post_footer ul li {
        margin: 0px 6px 0 0;
    }
    .post_footer ul li a {
        text-decoration: none;
        font-size: 11px;
        margin-right: 10px;
        color: #000;
    }

    .matched_lists ul {
        padding: 0;
        overflow-x: scroll;
    }
    .matched_lists ul li {
        display: table-cell;
    }
    .sensitive_content p {
        padding: 7px;
        font-size: 16px;
    }
    .sensitive_notice img {
        width: 50px;
    }
    .view_content {
        padding: 8px 40px;
        font-size: 20px;
    }
    .photo_react {
        top: 10px;
        right: 20px;
    }
    .profile_texts {
        float: none;
        display: block;
        overflow: hidden;
    }
    .profile_button {
        float: none;
        text-align: center;
        position: relative;
        width: 100%;
        top: 0;
    }
    .profile_button a {
        display: block;
        margin-top: -10px;
    }

    .user_banner img {
        height: 100%;
        padding: 30px 0 30px 0;
    }
    .profile_subscriber ul li p {
        margin: 0 30px;
    }
    .all_posts {
        margin-top: 0px;
    }



    /****Chat***/
    span.chat_text {
        margin-left: 62px;
        color: #00000080;
        display: block;
    }
    .chat_list ul li a img {
        width: 50px;
        float: left;
    }
    span.chat_time {
        right: 15px;
        top: 23px;
    }

    .profile_title .col-md-3 {
        width: 100%;
    }


    .video_call_area ul li a span {
        display: none;
    }

    .video_call_area ul li a {
        padding: 0;
    }

    .video_call_area ul li a img {
        width: 21px;
        margin: 0 6px;
    }
    .video_call_area ul li:last-child::before {
        height: 20px;
    }
    .live_chat_link img {
        width: 60px;
    }
    .live_chat_link h4 {
        font-size: 17px;
        padding: 15px 0 0 17px;
    }
    .video_call_area {
        padding-top: 10px;
    }


    ul.post_options {
        position: absolute;
        right: 0px;
        top: 15px;
    }

    .post_types {
        width: 100%;
    }
    .modal-dialog {
        max-width: 90%;
        margin: 0 auto;
    }
    .mobile_hidden {
        display: none;
    }

    .room_back button {
        outline: none;
        background: transparent;
        border: none;
        padding: 5px 15px;
    }
    #menu {
        text-align: center;
        position: absolute;
        width: 98%;
        z-index: 555;
        background: #fff;
        top: 100px;
        padding: 34px 30px;
        box-shadow: 0px 6px 8px -7px #f7006a8a;
    }
    ul#menu li a img {
        display: none;
    }

    .mobile {
        width: 50%;
    }

    .menu_bar {
        min-width: 100%;
    }
    .hidden_medium{
        display: none;
    }

    .header_profile {
        position: absolute;
        right: 20px;
        top: 30px;
    }
    
    .mobile_only {
        display: block;
    }
    .search {
        width: 80%;
        margin: 15px auto !important;
    }
    .menu_bar {
        display: block!important;
        text-align: center;
    }
    button.navbar-toggler {
        float: left;
        margin-top: 25px;
    }
    ul#menu li:nth-child(5) svg {
        display: none;
    }

}



@media (max-width: 976px){

    .medium_device {
        width: 100%!important;
        padding: 0 20px;
    }
}

@media(max-width: 768px){

    .container {
        width: 100%!important;
        min-width: 100%;
        padding-right: 12px;
    }
    .menu_bar {
        min-width: 100%;
    }
    .post_footer ul li a {
        font-size: 9px;
        margin-right: 5px;
    }

    .mobile_only{
        display: block;
    }
    
    .modal-body .home_sidebar{
        display: block!important;
    }

    .room_back{
        float: left;
        display: block;
        border: none;
        margin-bottom: -27px;
    }

    .header_profile {
        position: absolute;
        right: 20px;
        top: 30px;
    }
    ul.post_options li a img {
        width: 19px;
    }
    
    ul.post_options li {
        margin: 0;
    }
    

    ul.post_options {
        top: 35px;
    }
    .post_box textarea {
        font-size: 15px;
    }
    .menu_bar {
        display: block!important;
        text-align: center;
    }
    .navbar-toggler {
        outline: none;
        float: left!important;
        margin-top: 20px;
    }
    .search {
        padding: 18px 0;
    }
    #menu {
        text-align: center;
        position: absolute;
        width: 97%;
        z-index: 555;
        background: #fff;
        margin: 0 auto;
        padding: 20px 0;
        top: 100px;
        box-shadow: 0px 6px 8px -7px #f7006a8a;
    }
    .chat_list.notification_list span.chat_time, .chat_list.notification_list span.chat_text {
        margin-left: 60px!important;
    }

    a.post_btn {
        display: none;
    }

    #menu li:nth-child(7) {
        display: block;
    }
    .mobile {
        width: 50%;
    }



    .search {
        width: 75%;
        margin: 0 auto!important;
    }

    .post_footer ul li a img {
        margin-right: 7px;
        width: 20px;
    }

}


